* {
    box-sizing: border-box;
   outline-style: dotted;
    outline-width: 1px; 
  
  }
body {
    margin: 0px;

}


  h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}


li {
    list-style: none;
}

.Action {
    background-color: white;
}

.actionText {
    font-size: 18px;
    color: white;
    background-color:#3882f6;
}

.actionButton {
    color: white;
    background-color: #3882f6;
}



.Footer {
    background-color: #1F2937;
}

.fourPics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header {
    background-color: #1F2937 ;
}

.intro {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

}
.introText {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: fit-content;
}

.introImage {
    height: 200px;
    width: 400px;
}

.Logo {
    height: 100px;
    width: 100px;
    flex-grow: 1;
justify-self: flex-start;
margin-left: 28px;
}


.Main {
    background-color: white;
    
}

.Navbar{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.NavbarUL {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    margin-right: 28px;
}

.navItems {
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.randomImage {
    height: 100px;
    width: 100px;
}

.signUpButton {
    color: white;
    background-color: #3882f6;
}

.Testimonial {
    background-color: #E5E7EB;
}

.testimonialText {
    color: #1f2937;
    font-size: 36px;
}



